/*
/.config/*
/.config/nvim/*
/docs/*
!/.gitignore
!/.gitconfig
!/docs/README.md
!/.xinitrc
!/.bash_profile
!/.zshrc
!/.fonts
!/.config/
!/.config/picom.conf
!/.fehbg
!/.config/alacritty/
!/.config/neofetch/
!/.config/nvim/
!/.config/nvim/init.vim
!/.config/polybar/
