/*
/~/.config/*
/~/docs/*
!~/.gitignore
!~/.gitconfig
!~/docs/README.md
!~/.xinitrc
!~/.bash_profile
!~/.zshrc
!~/.fonts
!~/.config
!~/.config/picom.conf
!~/.fehbg
!~/.config/alacritty/alacritty.yml
!~/.config/neofetch/config.conf
!~/.config/nvim/init.vim
!~/.config/polybar
